{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <title>
        Celtapps
    </title>


    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700" rel="stylesheet">
    <link href="{% static 'css/toolkit-minimal.css' %}" rel="stylesheet">
    <link href="{% static 'css/application-minimal.css' %}" rel="stylesheet">


    <style>
        /* note: this is a hack for ios iframe for bootstrap themes shopify page */
        /* this chunk of css is not part of the toolkit :) */
        /* …curses ios, etc… */
        @media (max-width: 768px) and (-webkit-min-device-pixel-ratio: 2) {
            body {
                width: 1px;
                min-width: 100%;
                *width: 100%;
            }

            #stage {
                height: 1px;
                overflow: auto;
                min-height: 100vh;
                -webkit-overflow-scrolling: touch;
            }
        }
    </style>

    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'favicon/apple-touch-icon-57x57.png?v=lkdvmEP4J8' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'favicon/apple-touch-icon-60x60.png?v=lkdvmEP4J8' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'favicon/apple-touch-icon-72x72.png?v=lkdvmEP4J8' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'favicon/apple-touch-icon-76x76.png?v=lkdvmEP4J8' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'favicon/apple-touch-icon-114x114.png?v=lkdvmEP4J8' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'favicon/apple-touch-icon-120x120.png?v=lkdvmEP4J8' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'favicon/apple-touch-icon-144x144.png?v=lkdvmEP4J8' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'favicon/apple-touch-icon-152x152.png?v=lkdvmEP4J8' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon-180x180.png?v=lkdvmEP4J8' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png?v=lkdvmEP4J8' %}">
    <link rel="icon" type="image/png" sizes="194x194" href="{% static 'favicon/favicon-194x194.png?v=lkdvmEP4J8' %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'favicon/android-chrome-192x192.png?v=lkdvmEP4J8' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png?v=lkdvmEP4J8' %}">
    <link rel="manifest" href="{% static 'favicon/manifest.json?v=lkdvmEP4J8' %}">
    <link rel="mask-icon" href="{% static 'favicon/safari-pinned-tab.svg?v=lkdvmEP4J8' %}" color="#5bbad5">
    <link rel="shortcut icon" href="{% static 'favicon/favicon.ico?v=lkdvmEP4J8' %}">
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="msapplication-TileImage" content="{% static 'favicon/mstile-144x144.png?v=lkdvmEP4J8' %}">
    <meta name="theme-color" content="#ffffff">

</head>


<body>


<div class="container pt-4">
    <nav class="navbar navbar-light navbar-toggleable-sm navbar-static-top text-uppercase app-navbar mb-5">
        <button
                class="navbar-toggler navbar-toggler-right hidden-md-up"
                type="button"
                data-toggle="collapse"
                data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item ">
                    <a class="nav-link" href="#stop1">What we do</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="#stop2">PORTFOLIO</a>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </nav>
</div>


<div class="block app-block-intro">
    <div class="container text-xs-center">
        <img src="{% static 'img/LogoCeltapps.png' %}">
        <p class="lead mb-5 pb-5">Software Development</p>
    </div>
</div>

<div id="stop1" class="block block-bordered-lg">
    <div class="container text-center app-translate-15" data-transition="entrance">
        <blockquote class="pull-quote">
            <img class="rounded-circle" src="{% static 'img/fruits2.png' %}">
            <p>Simple, effective software to help you running your business, your life projects, in a day to day basis.
                Do
                not overinvest trying to shoot for the stars. Get the low hanging fruits, improve your life quality by
                taking less time to perform daily tasks.</p>
        </blockquote>
    </div>
</div>

<div class="block block-bordered-lg">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 offset-sm-2 text-center mb-5">
                <p class="lead mx-auto">We are here <strong>for the long run</strong>, using reliable technology to make
                    our costumers' lifes easier.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <ul class="featured-list">
                    <li class="mb-5">
                        <div class="featured-list-icon text-primary">
                            <span class="icon icon-mobile"></span>
                        </div>
                        <p class="featured-list-icon-text mb-0"><strong>Mobile Software</strong></p>
                        <p class="featured-list-icon-text">Mobile software to take full advantage of the enormous power
                            of
                            today's smartphones. You are already carrying it around during all day, aren't you? So what
                            about using it
                            to simplify your life? That is our goal.</p>
                    </li>

                    <li class="mb-5">
                        <div class="featured-list-icon text-primary">
                            <span class="icon icon-network"></span>
                        </div>
                        <p class="featured-list-icon-text mb-0"><strong>Integrated Solutions</strong></p>
                        <p class="featured-list-icon-text">Mobile, web, social. You use them all. We combine and
                            leverage power from their integration with the same aim: making our costumer life
                            easier.</p>
                    </li>

                </ul>
            </div>
            <div class="col-sm-6">
                <ul class="featured-list">

                    <li class="mb-5">
                        <div class="featured-list-icon text-primary">
                            <span class="icon icon-database"></span>
                        </div>
                        <p class="featured-list-icon-text mb-0"><strong>Web Application Server Software</strong></p>
                        <p class="featured-list-icon-text">Mobile is great, but, with no ofense, there is no substitute
                            for screen size! That's why most of our solutions have a server side, with a powerful
                            database behind it to build your bigdata.</p>
                    </li>

                    <li class="mb-5">
                        <div class="featured-list-icon text-primary">
                            <span class="icon icon-browser"></span>
                        </div>
                        <p class="featured-list-icon-text mb-0"><strong>Web Front-end</strong></p>
                        <p class="featured-list-icon-text">Be it a marketing website or the front-end to a Web
                            Application Server, we build beautiful and meaningful solutions to our costumers. </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div id="stop2" class="block block-bordered-lg pl-0 pt-0 pr-0">
    <div id="carousel-example-generic" class="carousel carousel-light slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <div class="block">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-8 offset-sm-2">
                                <p class="lead mx-auto text-center">
                                    <a href='https://play.google.com/store/apps/details?id=com.mymensorar&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'
                                       target="_blank"><strong>MyMensor Mobile App</strong></a>
                                </p>
                                </p>
                                <p class="lead mx-auto text-center">This is the mobile portion of the MyMensor Solution,
                                    that includes an application server as well.</p>
                            </div>
                        </div>
                        <a href='https://play.google.com/store/apps/details?id=com.mymensorar&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'
                           target="_blank"><img class="img-fluid mt-5 app-block-game-img d-block img-fluid"
                                                src="{% static 'img/mymmobapp.jpg' %}"></a>

                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="block">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-8 offset-sm-2">
                                <p class="lead mx-auto text-center">
                                    <a href="https://app.mymensor.com" target="_blank"><strong>MyMensor Application
                                        Server</strong></a>
                                </p>
                                </p>
                                <p class="lead mx-auto text-center">This is the server portion of the MyMensor Solution,
                                    that includes a mobile app as well.</p>
                            </div>
                        </div>
                        <a href="https://app.mymensor.com" target="_blank"><img
                                class="img-fluid mt-5 app-block-game-img d-block img-fluid"
                                src="{% static 'img/mymwebapp.jpg' %}"></a>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="block">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-8 offset-sm-2">
                                <p class="lead mx-auto text-center">
                                    <a href="https://mymensor.com" target="_blank"><strong>MyMensor Website</strong></a>
                                </p>
                                </p>
                                <p class="lead mx-auto text-center">This is the marketing website of the MyMensor
                                    Solution.</p>
                            </div>
                        </div>
                        <a href="https://mymensor.com" target="_blank"><img
                                class="img-fluid mt-5 app-block-game-img d-block img-fluid"
                                src="{% static 'img/mymwebsite.jpg' %}"></a>

                    </div>
                </div>
            </div>
        </div>

        <a class="carousel-control-prev" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="icon icon-chevron-thin-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="icon icon-chevron-thin-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

<div class="block app-block-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 mb-4">
                <ul class="list-unstyled list-spaced">
                    <li><h6 class="text-uppercase">Portfolio</h6></li>
                    <li><a href="https://mymensor.com" target="_blank">MyMensor Website</a></li>
                    <li>
                        <a href='https://play.google.com/store/apps/details?id=com.mymensor&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'
                           target="_blank">MyMensor Android Mobile App</a></li>
                    <li>
                        <a href='https://play.google.com/store/apps/details?id=com.mymensorar&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'
                           target="_blank">MyMensorAR Android Mobile App</a></li>
                    <li><a href="https://app.mymensor.com" target="_blank">MyMensor Application Server</a></li>
                </ul>
            </div>
            <div class="col-sm-6">
                <h6 class="text-uppercase">About</h6>
                <p>The journey was long, but we are just starting! Contact us anytime at <a
                        href="mailto: contact@celtapps.com">contact@celtapps.com</a>.</p>
            </div>
        </div>
    </div>
</div>


<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/tether.min.js' %}"></script>
<script src="{% static 'js/toolkit.js' %}"></script>
<script src="{% static 'js/application.js' %}"></script>
</body>
</html>

